server:
  port: 8761

spring:
  application:
    name: discovery

eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/${spring.application.name}/
  server:
    enableSelfPreservation: false